<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="s12 m10 offset-m1">
        <div class="row" style="gap: 2rem">
          <div class="s12 m6 l4">
            <h5>Help Materialize Grow</h5>
            <p>
              We hope you have enjoyed using <a href="https://materializeweb.com">Materialize</a> and if you feel like it has helped you out and want to support the team you can
              help us by opening issues or contributing on GitHub.
            </p>
            <a tabindex="0" class="btn tonal btn-small waves-effect waves-light" target="_blank" href="https://github.com/materializecss/materialize">Contribute</a>
          </div>

          <div class="s12 m6 l4">
            <h5>Join the Discussion</h5>
            <p>
              We have a Gitter chat room set up where you can talk directly with us. Come in and discuss new features, future goals, general problems or questions, or anything else
              you can think of.
            </p>
            <a tabindex="0" class="btn tonal btn-small waves-effect waves-light" href="https://gitter.im/materializecss/materialize" target="_blank">Chat</a>
          </div>

          <div class="s12 m6 l4" style="overflow: hidden">
            <h5>Star us</h5>
            <div>
              <a href="https://github.com/materializecss/materialize" target="_blank">
                <img style="width: 42%" alt="GitHub Repo stars" src="https://img.shields.io/github/stars/materializecss/materialize" />
              </a>
            </div>

            <!-- Ad Placements -->
            <div style="width: 100%; background-color: #f883">
              <div style="height: 90px; width: 100%">
                <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-9412332535613378" crossorigin="anonymous"></script>
                <ins
                  class="adsbygoogle"
                  style="display: block"
                  data-ad-format="fluid"
                  data-ad-layout-key="-fb+5w+4e-db+86"
                  data-ad-client="ca-pub-9412332535613378"
                  data-ad-slot="4127762940"
                ></ins>
                <script>
                  (adsbygoogle = window.adsbygoogle || []).push({});
                </script>
              </div>
            </div>
          </div>
        </div>

        <div class="footer-copyright">
          © 2014-
          <noscript>2018</noscript>
          <script>
            document.write(new Date().getFullYear());
          </script>
          &nbsp;Materialize, All rights reserved.<a class="right" target="_blank" href="https://github.com/materializecss/materialize/blob/main/LICENSE">MIT License</a>
        </div>
      </div>
    </div>
  </div>
</footer>
