<header>
  <div class="search-results card"></div>

  <!-- Top Nav -->
  <div class="navbar-fixed">
    <nav class="nav navbar">
      <div class="nav-wrapper primary">
        <a class="brand-logo">{{page.name}}</a>
        <a class="sidenav-trigger" href="#" data-target="nav-mobile"><i class="material-icons">menu</i></a>
        <ul class="right">
          <li>
            <a href="" onclick="paletteSelectorModal.showModal(); return false;">
              <i class="material-icons">palette</i>
            </a>
          </li>
          <li>
            <a id="theme-switch" href="#">
              <i class="material-icons">dark_mode</i>
            </a>
          </li>
          <li>
            <a class="ext-link" href="https://github.com/materializecss/materialize" target="_blank" rel="noopener" title="Check out our GitHub">
              <img src="images/github.svg" alt="GitHub logo" style="height: 20px" />
            </a>
          </li>
          <li>
            <a class="ext-link" href="https://opencollective.com/materialize" target="_blank" rel="noopener" title="Support us via OpenCollective">
              <img src="images/opencollective.svg" alt="Open Collective logo" />
            </a>
          </li>
        </ul>
      </div>
    </nav>
  </div>

  <!-- Sidenav -->
  <ul class="sidenav sidenav-fixed" id="nav-mobile">
    <li class="logo">
      <a class="brand-logo" id="logo-container" href="/">
        <img id="front-page-logo" src="images/materialize.svg" alt="Materialize Web Logo"/>
        Materialize
      </a>
    </li>

    <li class="search">
      <div class="search-wrapper">
        <input class="search-docs" id="search" type="search" placeholder="Search" autocomplete="off" autofocus /><i class="material-icons">search</i>
      </div>
    </li>

    {{#each config.items as |item|}} {{#getmenu item}}{{/getmenu}} {{/each}}

    <li class="version">
      <a class="dropdown-trigger" href="#" data-target="version-dropdown">
        <!-- svg -->
        v2.2.1<svg class="caret" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
          <path d="M7 10l5 5 5-5z"></path>
          <path d="M0 0h24v24H0z" fill="none"></path>
        </svg>
      </a>
      <ul class="dropdown-content" id="version-dropdown">
        <li><a href="/">Latest</a></li>
        <li><a href="/version/v2.1.1/">v2.1.1</a></li>
        <li><a>2.1.0</a></li>
        <li><a>2.0.4</a></li>
        <li><a>2.0.3-alpha</a></li>
      </ul>
    </li>
  </ul>
</header>

<dialog id="paletteSelectorModal" class="modal">
  <div class="modal-header">
    <h4>Color Scheme</h4>
  </div>
  <div class="modal-content">
    <div class="color-row">
      <input type="color" id="color-picker" value="#0000ff">
      <label for="color-picker">Primary Color</label>
    </div>
    <button id="downloadCss" type="button" class="btn tonal">Download css style</button>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn text waves-effect" onclick="paletteSelectorModal.close()">Close</button>
  </div>
</dialog>
