@import "material-icons/iconfont/material-icons.css";
@import "@materializecss/materialize/sass/materialize.scss";

body {
  line-height: 1.25;
  -webkit-font-smoothing: antialiased;
}

//--------------------

.header {
  color: var(--md-sys-color-on-background);
  font-weight: 400;
  font-size: 3.25rem;
}

.method-header {
  font-family: "Inconsolata", Monaco, Consolas, "Andale Mono", monospace;
  margin-top: 15px;
  padding-top: 30px;
}

/*
$font-stack: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;

h5 > span {
  font-size: 14px;
  margin-left: 15px;
  color: var(--md-sys-color-on-surface-variant);
}
*/

//--- Sidnav
header,
main,
footer {
  padding-left: 300px;
}
@media #{$medium-and-down} {
  header,
  main,
  footer {
    padding-left: 0;
  }
}

.sidenav #logo-container {
  margin: 0;
  padding: 1rem;
  border-radius: unset;
  height: 75px;
  display: flex;
  gap: 1rem;
  font-size: 1.5rem;
}
.sidenav #front-page-logo {
  display: inline-block;
  height: 42px;
  width: 90px;
  object-fit: contain;
  pointer-events: none;
  margin: 1rem 0;
}

//--------------
@media #{$small-and-down} {
  a.sidenav-trigger.top-nav {
    left: 0;
  }
  ul.sidenav.sidenav-fixed {
    border: 0;
  }
}

@media #{$medium-and-down} {
  nav .nav-wrapper {
    text-align: center;
    a.page-title {
      font-size: 36px;
    }
  }
}

@media #{$medium-and-up} {
  main > .container,
  body > .page-footer > .container,
  .top-nav > .container,
  #index-banner > .container,
  .github-commit > .container {
    width: 100%;
  }
}

#index-banner {
  border-bottom: 1px solid var(--md-sys-color-outline-variant);
  .container {
    position: relative;
  }
  h4 {
    margin-bottom: 40px;
    line-height: 44px;
    color: var(--md-sys-color-on-background);
  }
  h1 {
    margin-top: 16px;
  }
}
@media #{$medium-and-down} {
  #index-banner {
    h1 {
      margin-top: 1rem;
    }
    h4 {
      margin-bottom: 15px;
    }
  }
}
@media #{$small-and-down} {
  #index-banner {
    h4 {
      margin-bottom: 0;
    }
  }
}
//--------------

/*
@media #{$medium-and-down} {
  header,
  main,
  footer {
    padding-left: 0;
  }
  h5 > span {
    display: block;
    margin: 0 0 15px 0;
  }
}

//--- Index Page Styles


.center {
  text-align: center;
  vertical-align: middle;
}

// Icons
.material-icons.icon-demo,
.material-symbols-outlined.icon-demo,
.material-symbols-rounded.icon-demo,
.material-symbols-sharp.icon-demo {
  line-height: 50px;
}

.icon-container i {
  font-size: 3em;
  margin-bottom: 10px;
}

.icon-container .icon-preview {
  height: 120px;
  text-align: center;
}

.icon-container span {
  display: block;
}

.icon-holder {
  display: block;
  text-align: center;
  width: 150px;
  height: 115px;
  float: left;
  margin: 0 0px 15px 0px;
  p {
    margin: 0 0;
  }
}

// tabs
.tabs-wrapper {
  position: relative;
  height: 48px;
  @extend .hide-on-small-only;
  .row.pinned {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 10;
  }
}

*/

//--------- Code Styling
code,
pre {
  position: relative;
  font-size: 0.85rem;
}
pre:has(code) {
  border: 1px solid #8888;
  background-color: #8881;
  overflow: auto;
  border-radius: 3px;
}

.directory-markup {
  line-height: 1.1rem !important;
}

:not(pre) > code[class*="language-"] {
  padding: 0.1em 0.25em;
  border: solid 1px var(--md-sys-color-outline-variant);
}

// Styles one-liners
:not(pre) > code[class*="language-"] {
  background: rgba(0, 0, 0, 0.08);
  color: var(--md-sys-color-on-background);
}

// copy code icons
.copyMessage,
.copyButton {
  color: var(--md-sys-color-on-surface-variant);
  position: absolute;
}

.copyMessage {
  font-size: 14px;
  transition: all 0.2s ease-in;
  opacity: 0;
  right: 45px;
  top: 15px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

.copyButton {
  top: 10px;
  right: 10px;
  cursor: pointer;
}

// Footer
footer {
  font-size: 0.9rem;
  .footer-copyright,
  .footer-copyright a {
    color: var(--md-sys-color-on-surface-variant);
    background-color: transparent;
  }
}

// Table of Contents
.toc-wrapper {
  &.pin-bottom {
    margin-top: 84px;
  }
  position: relative;
  margin-top: 42px;
}
ul.table-of-contents {
  margin-top: 0;
  padding-top: 48px;
  font-size: 0.9rem;
  margin-left: 3rem;
  white-space: nowrap;
}

// Search
#nav-mobile li.search {
  margin: 5px 0;
  z-index: 2;
  .search-wrapper {
    color: var(--md-sys-color-on-surface-variant);
    margin-top: -1px;
    transition: margin 0.25s ease;
    position: relative;
    input#search {
      &:focus {
        outline: none;
        box-shadow: none;
      }
      background-color: transparent;
      border: 1px solid var(--md-sys-color-outline-variant);
      border-radius: 3px;
      margin: 0 auto;
      color: var(--md-sys-color-on-surface-variant);
      display: block;
      font-size: 16px;
      width: 80%;
      padding: 5px;
      box-sizing: border-box;
      height: 32px;
    }
    i.material-icons,
    i.material-symbols-outlined,
    i.material-symbols-rounded,
    i.material-symbols-sharp {
      position: absolute;
      top: 4px;
      right: 34px;
      color: var(--md-sys-color-outline-variant);
      cursor: pointer;
    }
  }
}
.search-results {
  position: fixed;
  margin: 0;
  top: 65px;
  left: 340px;
  @media #{$medium-and-down} {
    top: 65px;
    left: 100px;
  }
  @media #{$small-and-down} {
    top: 160px;
    left: 35px;
  }
  z-index: 9999;
  background-color: var(--md-sys-color-surface);
  a {
    font-size: 12px;
    padding: 5px;
    &.focused {
      background-color: rgba(0, 0, 0, 0.12);
      outline: none;
    }
    &:hover {
      background-color: rgba(0, 0, 0, 0.04);
      outline: none;
    }
    white-space: nowrap;
    display: block;
  }
}

// Thanks for Downloading
#download-thanks {
  transition: all 0.3s ease-in-out;
  max-height: 300px;
  opacity: 1;
}
#download-thanks.is-closed {
  opacity: 0;
  max-height: 0;
}

/*
//About page styling
.image-container {
  width: 100%;
  img {
    max-width: 100%;
  }
}

// Mobile page styling
.mobile-image {
  @media #{$small-and-down} {
    max-width: 100%;
  }
}

// Card Page styling
.card-panel span,
.card-content p {
  -webkit-font-smoothing: antialiased;
}

#images .card-panel .row {
  margin-bottom: 0;
}

// Pushpin Demo styles
.pushpin-demo {
  position: relative;
  height: 100px;
}

#pushpin-demo-1 {
  display: block;
  height: inherit;
  background-color: var(--md-sys-color-shadow-light);
}

// Valign Demo
.valign-demo {
  height: 400px;
  border: 1px solid var(--md-sys-color-secondary);
}

.talign-demo {
  height: 100px;
  border: 1px solid var(--md-sys-color-secondary);
}

// Transitions demos
#staggered-test li,
#image-test {
  opacity: 0;
}

// For GitHub and OpenCollective
.ext-link > img {
  vertical-align: middle;
  height: 24px;
}

#nav-mobile {
  li .new.badge {
    background-color: var(--md-sys-color-secondary);
    color: var(--md-sys-color-on-secondary);
  }
}

#palette-selector {
  width: 420px;
  .modal-content {
    display: grid;
    grid-auto-rows: 80px 60px 40px;
    align-items: start;
  }
  .color-row {
    display: grid;
    grid-template-columns: 120px 60px;
    justify-items: left;
    align-items: center;
    label {
      margin-left: 20px;
    }
  }
}

*/
